body {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

div#container {
    width: 410px;
    border-style: groove;
    border-width: 10px;
    /* box-shadow: -5px 2px 18px 4px #ccc; */
}

.profile-pic {
    background: #0c838b;
    width: 405px;
    height: 95px;
}

.pic {
    background: #f9f9f9;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

img {
    position: relative;
    top: -50px;
    right: -25px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.details {
    background: #f9f9f9;
    width: 150px;
    height: 100px;
    position: relative;
    top: -35px;
}

h2.name, h3, a {
    margin: 0;
    text-align: center;
    font-size: x-large;
    padding-bottom: 20px;
}

h3.content {
    width: 400px;
    padding-bottom: 10px;
    /* display: inline;
    padding: 2em; */
}

span {
    font-style: italic;
}